apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: react-kub-app
spec:
  type: NodePort
  selector:
    app: backend
    tier: backend
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30500  # (or any available NodePort value between 30000-32767)
