apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: react-kub-app
spec:
  type: NodePort
  selector:
    app: frontend
    tier: frontend
  ports:
    - protocol: TCP
      port: 5173
      targetPort: 5173
      nodePort: 30573  # (or any available NodePort value between 30000-32767)
